.App {
  background-color: rgba(0, 0, 0, 0.9);
  text-align: center;
  width: 100%;
  height: 110vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

@media only screen and (max-device-width: 480px) {

  .App {
    height: 100vh;
  }

}
