.gameBoard{
  height: 85vh;
  text-align: center;
  text-align: -webkit-center;
  text-align: -moz-center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow: auto;
}

.cardsWrapper{
  margin: auto;
  max-width: 550px;
}



@media only screen and (max-device-width: 480px) {
  .gameBoard{
    height: 80vh;
  }

}
