.gameBoard{
  height: 85vh;
  text-align: center;
  text-align: -webkit-center;
  text-align: -moz-center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow: auto;
}

.cardsWrapper{
  min-width: 550px;
  max-width: 550px;
}
.gameName{
  line-height: 134px;
  vertical-align: middle;
  color: rgba(255, 255, 255, 0.7);
}

.card {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 130px;
  height: 130px;
  border: 2px solid;
  background-color: white;
  border-radius: 10px;
  display: inline-block;
  transition: 0.3s ease-out;
}

.card:hover{
  transform: rotateY( 20deg );
  -ms-transform: rotateY( 20deg );
  -webkit-transform: rotateY( 20deg );
  transition: 0.8s ease-out;
}
