.header{
  background: black;
  display: table;
  table-layout: fixed;
  width:100%;
}

.item{
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: table-cell;
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
}
.subTitle{
  font-size: 15px;
}

hr {
  width: 150px;
  margin: 0 auto;
  border-color: gold;
  background-color: gold;
  animation: lineEffect 5s 1;
}

@keyframes lineEffect {
  from{
    width: 0;
    border-color: white;
    background-color: white;
  }
  to{
    width: 150px;
    border-color: gold;
    background-color: gold;
  }
}
/*.item:hover {
  background: grey;
  transition: 1s ease-out;
}*/
